html,
body {
  background: #334b35;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.sticky-bar{position:relative;z-index:3}
.sticky-bar.stick{
  -webkit-animation:fadeInDown .7s ease-in-out 0s 1 normal none running;-moz-animation:fadeInDown .7s ease-in-out 0s 1 normal none running;animation:fadeInDown .7s ease-in-out 0s 1 normal none running;-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.05);box-shadow:0 8px 20px 0 rgba(0,0,0,.05);position:fixed;top:0;width:100%;z-index:999;left:0;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;
  transition:all .3s ease 0s;background:#fff;margin-top:0!important}


  