@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: #334b35;
  font-family: 'Outfit', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    
      // /* ff 3.6+ */
      // background:-moz-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
      // /* safari 5.1+,chrome 10+ */
      // background:-webkit-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
      // /* opera 11.10+ */
      // background:-o-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
      // /* ie 10+ */
      // background:-ms-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
      // /* global 92%+ browsers support */
      // background:radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  --gradient-text: linear-gradient(89.97deg, #414141 1.84%, #000000 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #000000 -13.86%, #036812 99.55%);
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btnbluse{
 /* ff 3.6+ */
 background:-moz-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
 /* safari 5.1+,chrome 10+ */
 background:-webkit-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

 /* opera 11.10+ */
 background:-o-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

 /* ie 10+ */
 background:-ms-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

 /* global 92%+ browsers support */
 background:radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

}
input{
  outline:none;
}
.header-bg1{
  background-image: url('../public/placeholder23.jpg');
  
  

}
.header-bg2{
  background-image: url('../public/intro2.jpg');
}
.agrochems{
  background-image: url('../public/agrochem.jpg');
}
.fertilizers{
  background-image: url('../public/fertilizers.jpg');
}
.seedlings{
  background-image: url('../public/seeds.jpg');
}

.heading-line-hero {
  width: 50px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  background-position: center;
  align-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.overlay-bg{
    background: rgba(8, 1, 29, 0.66);
}

.info-bg{


    /* ff 3.6+ */
    background:-moz-linear-gradient(-225deg, rgba(97, 193, 99, 1) 0%, rgba(34, 129, 47, 1) 50%, rgba(6, 84, 19, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(-225deg, rgba(97, 193, 99, 1) 0%, rgba(34, 129, 47, 1) 50%, rgba(6, 84, 19, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(-225deg, rgba(97, 193, 99, 1) 0%, rgba(34, 129, 47, 1) 50%, rgba(6, 84, 19, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61C163', endColorstr='#065413', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(-225deg, rgba(97, 193, 99, 1) 0%, rgba(34, 129, 47, 1) 50%, rgba(6, 84, 19, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(-225deg, rgba(97, 193, 99, 1) 0%, rgba(34, 129, 47, 1) 50%, rgba(6, 84, 19, 1) 100%);



    // /* ff 3.6+ */
    // background:-moz-radial-gradient(circle at 20% 10%, rgba(201, 225, 201, 1) 11%, rgba(42, 140, 46, 1) 100%);

    // /* safari 5.1+,chrome 10+ */
    // background:-webkit-radial-gradient(circle at 20% 10%, rgba(201, 225, 201, 1) 11%, rgba(42, 140, 46, 1) 100%);

    // /* opera 11.10+ */
    // background:-o-radial-gradient(circle at 20% 10%, rgba(201, 225, 201, 1) 11%, rgba(42, 140, 46, 1) 100%);

    // /* ie 10+ */
    // background:-ms-radial-gradient(circle at 20% 10%, rgba(201, 225, 201, 1) 11%, rgba(42, 140, 46, 1) 100%);

    // /* global 92%+ browsers support */
    // background:radial-gradient(circle at 20% 10%, rgba(201, 225, 201, 1) 11%, rgba(42, 140, 46, 1) 100%);




    //  /* ff 3.6+ */
  //  background:-moz-radial-gradient(circle at 10% 17%, rgba(191, 215, 192, 1) 20%, rgba(135, 173, 137, 1) 100%);

  //  /* safari 5.1+,chrome 10+ */
  //  background:-webkit-radial-gradient(circle at 10% 17%, rgba(191, 215, 192, 1) 20%, rgba(135, 173, 137, 1) 100%);

  //  /* opera 11.10+ */
  //  background:-o-radial-gradient(circle at 10% 17%, rgba(191, 215, 192, 1) 20%, rgba(135, 173, 137, 1) 100%);

  //  /* ie 10+ */
  //  background:-ms-radial-gradient(circle at 10% 17%, rgba(191, 215, 192, 1) 20%, rgba(135, 173, 137, 1) 100%);

  //  /* global 92%+ browsers support */
  //  background:radial-gradient(circle at 10% 17%, rgba(191, 215, 192, 1) 20%, rgba(135, 173, 137, 1) 100%);


  }


.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  // /* ff 3.6+ */
  // background:-moz-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
  // /* safari 5.1+,chrome 10+ */
  // background:-webkit-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* opera 11.10+ */
  // background:-o-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* ie 10+ */
  // background:-ms-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* global 92%+ browsers support */
  // background:radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

}

.header-bg{
  background-color: #334b35;
  // /* ff 3.6+ */
  // background:-moz-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
  // /* safari 5.1+,chrome 10+ */
  // background:-webkit-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* opera 11.10+ */
  // background:-o-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* ie 10+ */
  // background:-ms-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

  // /* global 92%+ browsers support */
  // background:radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

}

@media screen and (max-width:940px) {
  .header {
      max-width: 100%;
      .header-bg{
/* ff 3.6+ */
background:-moz-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);
  
/* safari 5.1+,chrome 10+ */
background:-webkit-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

/* opera 11.10+ */
background:-o-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

/* ie 10+ */
background:-ms-radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

/* global 92%+ browsers support */
background:radial-gradient(circle at 16% 21%, rgba(245, 245, 245, 1) 0%, rgba(240, 255, 243, 1) 100%);

      }
      
  }
}

.section-container {

    /* ff 3.6+ */
    background:-moz-linear-gradient(45deg, rgba(169, 169, 169, 0.71) 0%, rgba(229, 229, 229, 1) 50%, rgba(169, 169, 169, 0.65) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(45deg, rgba(169, 169, 169, 0.71) 0%, rgba(229, 229, 229, 1) 50%, rgba(169, 169, 169, 0.65) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(45deg, rgba(169, 169, 169, 0.71) 0%, rgba(229, 229, 229, 1) 50%, rgba(169, 169, 169, 0.65) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9A9A9', endColorstr='#A9A9A9', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(45deg, rgba(169, 169, 169, 0.71) 0%, rgba(229, 229, 229, 1) 50%, rgba(169, 169, 169, 0.65) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(45deg, rgba(169, 169, 169, 0.71) 0%, rgba(229, 229, 229, 1) 50%, rgba(169, 169, 169, 0.65) 100%);

}
        
.at-item {
  animation-name: bounce-bottom;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  /* shorthand 
  animation: bounce-bottom 10s ease 0s infinite alternate-reverse none;
  */ 
}
@keyframes bounce-bottom {
  0%{
    transform: translateY(45px);
  }
  25%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(24px);
  }
  55%{
    transform: translateY(0);
  }
  65%{
    transform: translateY(12px);
  }
  75%{
    transform: translateY(0);
  }
  82%{
    transform: translateY(6px);
  }
  87%{
    transform: translateY(0);
  }
  93%{
    transform: translateY(4px);
  }
  100%{
    transform: translateY(0);
  }
}

.slide-anim {
  color: #3079ed;
  animation-name: slide-in-bottom;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: slide-in-bottom 1.2s ease 0s 1 normal none;
  */ 
}
@keyframes slide-in-bottom {
  0%{
    transform: translateY(1000px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeer {
  color: #3079ed;
  animation-name: fade-in;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: fade-in 1.2s ease-in 0s 1 normal none;
  */ 
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.lefttoright {
  animation-name: bounce-right;
  animation-duration: 8.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: bounce-right 8.2s ease 0s infinite normal none;
  */ 
}
@keyframes bounce-right {
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(0);
  }
  40%{
    transform: translateX(26px);
  }
  55%{
    transform: translateX(0);
  }
  65%{
    transform: translateX(13px);
  }
  75%{
    transform: translateX(0);
  }
  82%{
    transform: translateX(6.5px);
  }
  87%{
    transform: translateX(0);
  }
  93%{
    transform: translateX(4px);
  }
  98%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(0);
  }
}
.grade-bg{
  
    /* ff 3.6+ */
    background:-moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 50%, rgba(242, 242, 242, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, rgba(252, 252, 252, 1) 50%, rgba(242, 242, 242, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, rgba(252, 252, 252, 1) 50%, rgba(242, 242, 242, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#FCFCFC', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, rgba(252, 252, 252, 1) 50%, rgba(242, 242, 242, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, rgba(252, 252, 252, 1) 50%, rgba(242, 242, 242, 1) 100%);
}


.rotator-en{
  animation: none;
}
.rotator-ef {
  animation-name: rotate-center;
  animation-duration: 8.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: rotate-center 8.2s ease 0s 1 normal none;
  */ 
}
 
.rotator-ef2 {
  animation-name: rotate-center;
  animation-duration: 8.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: rotate-center 8.2s ease 0s 1 normal none;
  */ 
}
@media only screen and (min-width: 768px) {
    .rotator-ef2{
      animation: none;
    }
    
  }

@keyframes rotate-center {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.fadein-topright{
    animation-name: fade-in;
    animation-duration: 0s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: fade-in 2s normal 0s 1 normal none;
    */ 
  }
  @keyframes fade-in {
    0%{
      opacity: 3;
    }
    100%{
      opacity: 1;
    }
  }
  #particles-js{
    position: absolute;
    height: 100%;
    width: 100%;

    top: 0;

    background-color: black;
    background-size: cover;
    z-index: -100;
    background-repeat: no-repeat;
  }

  .moving-bg {
   
      background-image: url("../public/intro3.jpg");
      position: static;
      left: 0;
      top: 0;
      z-index: -1;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      
    

}

.indorama{
  background-image: url("../public/urea.jpeg");
  background-repeat: no-repeat;
  background-size:cover;

}

  .newsoverlay {
   
      background-image: url("../public/designbg.png");
      position: static;
      left: 0;
      top: 0;
      z-index: -1;
      background-position: 20% 20%;
      background-repeat: no-repeat;
      background-size:cover;
      
    

}
.moving-bgchon {
  transition-duration: 0ms;
  opacity: 1;
  transform: translate3d(-1704px, 0px, 0px);
  
}
.borderdiv{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 14.29%;
  
  height: 500px;
}

.dropbtn {
  
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color:#f1cf69;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

.mal a:visited a:link{
  color:red;
}

.zoaomer {
  animation-name: zoom-in-out;
  animation-duration: 10.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  /* shorthand 
  animation: zoom-in-out 10.2s linear 0s infinite alternate-reverse forwards;
  */ 
}
@keyframes zoom-in-out {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}



*{
  box-sizing: border-box;
}
.slider {
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 2500px;

}


.slides::-webkit-scrollbar {
 display: none;
}
.slides::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 350px;
  height: 400px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  font-size: 100px;
  animation: slide 15s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1850px, 0, 0); /* The image width */
  }
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
  color: #1c87c9;
}
.slider > a:focus {
  background: #eee;
}

.portable p{
  padding-bottom: 1rem;
}
.portable br{
  padding-bottom: 1rem;
}



.sliderc {
  overflow: hidden;
}
.slidesc {

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;

}


.slidesc::-webkit-scrollbar {
 display: none;
}
.slidesc::-webkit-scrollbar-thumb {
  display: none;
}
.slidesc::-webkit-scrollbar-track {
  background: transparent;
}
.slidesc > a {
  flex-shrink: 0;
  border-radius: 8px;
  position: relative;
  display: flex;
  animation: slidec 10s linear infinite;
  animation-direction: alternate-reverse;
}
.slidesc4 > a {
  flex-shrink: 0;
  border-radius: 8px;
  position: relative;
  display: flex;
  animation: slidec4 10s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes slidec {
  0% {
    transform: translate3d(400%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0); /* The image width */
  }
}
@keyframes slidec4 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* The image width */
  }
}

.sliderc > a {
  display: inline-flex;
  background: white;
  text-decoration: none;
  position: relative;
}
.sliderc > a:active {
  color: #1c87c9;
}
.sliderc > a:focus {
  background: #eee;
}



